spring:
  application:
    name: CONFIG-SERVER
  cloud:
    config:
      server:
        uri: file:///${user.home}/kotlin-api-gateway/configuration-repo

server:
  port: 9196

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

